#include "ProjectName.xcconfig"

OTHER_SWIFT_FLAGS = "-D" "STAGING"
GCC_PREPROCESSOR_DEFINITIONS = STAGING=1

CODE_SIGN_IDENTITY = <CODE SIGN IDENTITY>
PRODUCT_BUNDLE_IDENTIFIER = <BUNDLE ID>

BUNDLE_IDENTIFIER = <BUNDLE ID>
PROVISIONING_PROFILE_SPECIFIER = <PROVISIONING PROFILE>
DEVELOPMENT_TEAM = <TEAM ID>
